@model IEnumerable<Order>
<div>
    @foreach (var order in Model)
    {
    <div class="row mb-2">
        <div class="col-2" align="left">
            <h1>
                @order.Date
            </h1>
        </div>
        <div class="col-2" align="left">
            <h1>
                @order.Сondition
            </h1>
        </div>
        <div class="col-4" align="left">
            <h1>
                @order.BuyerName
                @order.BuyerLastName
                @order.PhoneNumber
            </h1>
        </div>
        <div class="col-4" align="left">
            <div class="row mb-2">
                <a class="btn-info p-2 rounded" asp-controller="Item" asp-action="Update" asp-route-Id=@order.Id>
                    Изменить
                </a>
            </div>
            <div class="row mb-2">
                <a class="btn-danger p-2 rounded" asp-controller="Item" asp-action="Delete" asp-route-Id=@order.Id>
                    Удалить
                </a>
            </div>
        </div>
    </div>
    }
</div>