@model Account

<div class="row mb-2">
    <div class="col-8" align="left">
        <div class="form-group row ">
            <label for="id" class="col-md-4 col-form-label text-md-right">Идентификатор</label>
            <label id="id" class="col-md-4 col-form-label text-md-right">@Model.Id</label>
        </div>
        <div class="form-group row ">
            <label for="CartId" class="col-md-4 col-form-label text-md-right">Идентификатор корзины</label>
            <label id="CartId" class="col-md-4 col-form-label text-md-right">@Model.CartId</label>
        </div>
        <div class="form-group row ">
            <label for="Login" class="col-md-4 col-form-label text-md-right">Логин</label>
            <label id="Login" class="col-md-4 col-form-label text-md-right">@Model.Login</label>
        </div>
        <div class="form-group row ">
            <label for="Password" class="col-md-4 col-form-label text-md-right">Пароль</label>
            <label id="Password" class="col-md-4 col-form-label text-md-right">@Model.Password</label>
        </div>
        <div class="form-group row ">
            <label for="Name" class="col-md-4 col-form-label text-md-right">Имя</label>
            <label id="Name" class="col-md-4 col-form-label text-md-right">@Model.Name</label>
        </div>
        <div class="form-group row ">
            <label for="LastName" class="col-md-4 col-form-label text-md-right">Фамилия</label>
            <label id="LastName" class="col-md-4 col-form-label text-md-right">@Model.LastName</label>
        </div>
        <div class="form-group row ">
            <label for="Address" class="col-md-4 col-form-label text-md-right">Адрес</label>
            <label id="Address" class="col-md-4 col-form-label text-md-right">@Model.Address</label>
        </div>
        <div class="form-group row ">
            <label for="Email" class="col-md-4 col-form-label text-md-right">Эл. почта</label>
            <label id="Email" class="col-md-4 col-form-label text-md-right">@Model.Email</label>
        </div>
        <div class="form-group row ">
            <label for="PhoneNumber" class="col-md-4 col-form-label text-md-right">Телефон</label>
            <label id="PhoneNumber" class="col-md-4 col-form-label text-md-right">@Model.PhoneNumber</label>
        </div>
        <div class="form-group row ">
            <label for="DateOfRegistration" class="col-md-4 col-form-label text-md-right">Дата регистраци</label>
            <label id="DateOfRegistration" class="col-md-4 col-form-label text-md-right">@Model.DateOfRegistration</label>
        </div>
        <div class="form-group row ">
            <label for="Role" class="col-md-4 col-form-label text-md-right">Роль</label>
            <label id="Role" class="col-md-4 col-form-label text-md-right">@Model.Role</label>
        </div>
    </div>
</div>